function Snitch.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 9
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Snitch.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 32
push this 0
add
pop this 0
push constant 0
pop this 3
label IF_FALSE0
push constant 0
return
function Snitch.getX 0
push argument 0
pop pointer 0
push this 0
return
function Snitch.getY 0
push argument 0
pop pointer 0
push this 1
return
function Snitch.getHeight 0
push argument 0
pop pointer 0
push this 2
return
function Snitch.isCaught 0
push argument 0
pop pointer 0
push this 3
return
function Snitch.wasCaught 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
return
function Snitch.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 1
push constant 32
call Math.multiply 2
push this 0
add
add
pop local 0
push local 0
push constant 0
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 17346
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Snitch.erase 1
push argument 0
pop pointer 0
push constant 16384
push this 1
push constant 32
call Math.multiply 2
push this 0
add
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Snitch.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
